*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100vh;
}
body{
	font-family: Arial, sans-serif;
	/* overflow-y: hidden; */
}

.maindiv{
	top: 0;
	position: absolute;
	z-index: -1;
	height: 100vh;
	overflow: hidden;
}
.mainimg{
	width: 100%;
	object-fit: cover;
}