.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 20px;

	background-color: #333;
	color: #fff;
}

.navbar .navlinks{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly
}
.navbar .navlinks li{
	list-style: none;
	width: fit-content;
	height: fit-content;
	transition: transform 200ms;
}
.navbar .navlinks li:hover{
	background-color: #555;
	transform: scale(1.05);
	transition: transform 200ms;
}