* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.toggle_switch input[type="checkbox"] {
  display: none;
}

.btn {
  align-self: center;
  margin: 15px 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 119px;
  height: 58px;
  background-color: rgb(20, 20, 20);
  transition: all 1s ease;
  position: relative;
  border-radius: 30px;
  cursor: pointer;
}

.box .ball {
  width: 60px;
  height: 60px;
  background-color: grey;
  transition: all 1s ease;
  position: absolute;
  border-radius: 50%;
  border: 3px solid black;
}

.box .scenary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.box .scenary .moon,
.box .scenary .sun {
  flex: 1; 
  text-align: center; 
}


.box .scenary .sun img {
  width: 45px; 
  height: 45px; 
}

.box .scenary .moon img {
  width: 40px;
  height: 40px;
}

