table, th, td {
    border: 1px solid;
    
}

table {
    size: relative;
    width: fixed;
    
}

th {
    width: 33%;
}

h1 {
    text-align: center;
}

td {
    height: 100px;
    width: 100px;
    text-align: center;   
    font-weight: bold;
}

p {
    font-family: Arial;

}

