.navbar {background-color: black;
    
}
.odkazy {color: rgb(255, 255, 255);
font-size: 230%;
margin-left: 240px;
text-decoration:  none;
}
.odkazy:hover {
    color: red;
}
img {
    padding-left: 50px;
    width: 100px;
}
.pictop {
    padding-top: 20px;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
}
.discovermore {
    background-color: red;
    color: black;
    text-align: center;
    font-size: 50px;
    position: relative;
    left: 42%;
    margin-top: 700px;
    border-radius: 25px;
}
