h1 {
    color: firebrick;
   font-size: 400%; 
   font-weight: 300%;
}
.navbar {background-color: black;
    
}
.odkazy {color: rgb(255, 255, 255);
font-size: 275%;
margin-left: 235px;
text-decoration:  none;
}
.odkazy:hover {
    color: blueviolet;
}
img {
    padding-left: 50px;
    width: 100px;
}
.pictop {
    padding-top: 20px;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
}
