h1 {
    color: firebrick;
   font-size: 400%; 
   font-weight: 300%;
}
.navbar {background-color: black;
    
}
.odkazy {color: rgb(94, 35, 161);
font-size: 300%;
margin-left: 400px;
text-decoration:  none;
}
img {
    padding-left: 50px;
    width: 100px;
}
.pictop {
    padding-top: 20px;
}
