<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/navbar.css">
	<link rel="stylesheet" href="/static/css/typography.css">
	<link rel="stylesheet" href="/static/css/about/main.css">
	<title>About</title>
</head>
<body>
	<div class="nav-container">
		<nav class="navbar">
			<a href="/" class="logo-a"><img src="/static/assets/logo.svg" alt="Logo" class="logo"></a>
			<ul class="navlinks">
				<li><a href="#">About us</a></li>
				<li><a href="contacts">Contacts</a></li>
				<li><a href="/comparison">Comparison</a></li>
			</ul>
		</nav>
	</div>

	<main>
		<div class="maindiv">
			<div class="cards" id="cards">
				<div class="card">
					<div class="card-border"></div>
					<div class="card-content">
						<h2>Our Mission</h2>
						<p>Our mission is to provide the best cars for the best prices. We want to make sure that you get the best car for your money. We have a wide selection of cars to choose from, so you can find the perfect car for you.</p>
					</div>
				</div>
				<div class="card">
					<div class="card-border"></div>
					<div class="card-content">
						<h2>Our Vision</h2>
						<p>Our vision is to be the best car dealership in the world. We want to provide the best cars for the best prices, and we want to make sure that you get the best car for your money. We have a wide selection of cars to choose from, so you can find the perfect car for you.</p>
					</div>
				</div>
				<div class="card">
					<div class="card-border"></div>
					<div class="card-content">
						<h2>Our Values</h2>
						<p>Our values are honesty, integrity, and customer satisfaction. We want to make sure that you get the best car for your money, and we want to make sure that you are happy with your purchase. We have a wide selection of cars to choose from, so you can find the perfect car for you.</p>
					</div>
				</div>
				<div class="card">
					<div class="card-border"></div>
					<div class="card-content">
						<h2>Our Team</h2>
						<p>Our team is made up of car enthusiasts who are passionate about cars. We have a wide selection of cars to choose from, so you can find the perfect car for you. We are here to help you find the best car for your money, and we want to make sure that you are happy with your purchase.</p>
					</div>
				</div>
				<div class="card">
					<div class="card-border"></div>
					<div class="card-content">
						<h2>Our History</h2>
						<p>We have been in business for over 2 days, and we have a wide selection of cars to choose from. We have a team of car enthusiasts who are passionate about cars, and we want to make sure that you get the best car for your money. We are here to help you find the perfect car for you.</p>
					</div>
				</div>
				<div class="card">
					<div class="card-border"></div>
					<div class="card-content">
						<h2>Our Promise</h2>
						<p>Our promise is to provide the best cars for the best prices. We want to make sure that you get the best car for your money, and we want to make sure that you are happy with your purchase. We have a wide selection of cars to choose from, so you can find the perfect car for you.</p>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="/static/js/js.js"></script>
</body>
</html>