<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/typography.css">
    <link rel="stylesheet" href="/static/css/about/main.css">
    <link rel="stylesheet" href="/static/css/account/account.css">
    <title>Account</title>

</head>
<body>
<div class="nav-container">
    <nav class="navbar">
        <a href="/index" class="logo-a"><img src="/static/assets/logo.svg" alt="Logo" class="logo"></a>
        <ul class="navlinks">
            <li><a href="/about">About us</a></li>
            <li><a href="contacts">Contacts</a></li>
            <li><a href="/comparison">Comparison</a></li>
            <li><a href="/catalog">Catalog</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
		<div class="toggle_switch">
			<div class="btn">
				<input type="checkbox" name="check" id="check">
				<label for="check">
					<div class="box">
					
						<div class="ball"></div>

						<div class="scenary">
							<div class="moon">
								<img src="static/assets/moon.svg" alt="Moon">
							</div>

							<div class="sun">
								<img src="static/assets/sun.svg" alt="Sun">
							</div>
						</div>
					</div>
				</label>
			</div>
		</div>
    </nav>
</div>

    <main>
		<div id="main">
			<p class="text">Account</p>
			<p class="text">Welcome, {{ username }}!</p>
			<a href="{{ url_for('logout') }}"><button id="logout-btn">Log out</button></a>
			<a href="{{ url_for('delete_account') }}"><button id="delete-btn">Delete your account??</button></a>
		</div>
    </main>

</body>
<script src="/static/js/account.js"></script>
</html>