<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css">
	<link rel="stylesheet" href="/static/css/typography.css">
	<link rel="stylesheet" href="/static/css/about/main.css">
	<link rel="stylesheet" href="/static/css/login/login.css">
    <title>Title</title>
    <link rel="stylesheet" href="">

    <style>
		body {
			background-color: {{ black }};
			color: {{ text_color }}

		}
	</style>
</head>
<body>
<div class="nav-container">
    <nav class="navbar">
        <a href="/index" class="logo-a"><img src="/static/assets/logo.svg" alt="Logo" class="logo"></a>
        <ul class="navlinks">
            <li><a href="/about">About us</a></li>
            <li><a href="contacts">Contacts</a></li>
            <li><a href="/comparison">Comparison</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
</div>

<h1 style="color:white">You´re logged in as {{username}}</h1>

<form action="{{ url_for('logout') }}" method="get">
    <input type="submit" value="Log out">
</form>

</body>
</html>
