<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/navbar.css">
	<link rel="stylesheet" href="/static/css/typography.css">
	<link rel="stylesheet" href="/static/css/about/main.css">
	<link rel="stylesheet" href="/static/css/login/login.css">
	<link rel="stylesheet" href="/static/css/catalog/main.css">

	<title>About</title>
</head>
<body>
	<div class="nav-container">
		<nav class="navbar">
			<a href="/" class="logo-a"><img src="/static/assets/logo.svg" alt="Logo" class="logo"></a>
			<ul class="navlinks">
				<li><a href="about">About us</a></li>
				<li><a href="contacts">Contacts</a></li>
				<li><a href="comparison">Comparison</a></li>
				<li><a href="login">Log in</a></li>
                <li><a href="#">Catalog</a></li>
			</ul>
            <label class="switch">
				<input type="checkbox">
				<span class="slider round"></span>
			</label>
		</nav>
	</div>

	<script src="/static/js/catalog.js"></script>
</body>
</html>
