<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css">
	<link rel="stylesheet" href="/static/css/typography.css">
	<link rel="stylesheet" href="/static/css/comparison/main.css">
    <title>Comparison</title>
</head>
<body>

	<div class="nav-container">
		<nav class="navbar">
			<a href="/" class="logo-a"><img src="/static/assets/logo.svg" alt="Logo" class="logo"></a>
			<ul class="navlinks">
				<li><a href="/about">About us</a></li>
				<li><a href="/contacts">Contacts</a></li>
				<li><a href="#">Comparison</a></li>
			</ul>
		</nav>
	</div>
	<main class="main">
		<div class="input_container">
			<p>Brand:</p>
			<select class="search_brand_select" id="brand_select" name="brand">
			<option value="">
				Choose a brand
			</option>
			<option value="acura">
				Acura
			</option>
			<option value="alfa_romeo">
				Alfa Romeo
			</option>
			<option value="am_general">
				Am General
			</option>
			<option value="aston_martin">
				Aston Martin
			</option>
			<option value="audi">
				Audi
			</option>
			<option value="avanti_motors">
			Avanti Motors
			</option>
			<option value="bentley">
			Bentley
			</option>
			<option value="bmw">
			BMW
			</option>
			<option value="bugatti">
			Bugatti
			</option>
			<option value="buick">
			Buick
			</option>
			<option value="cadillac">
			Cadillac
			</option>
			<option value="chevrolet">
			Chevrolet
			</option>
			<option value="chrysler">
			Chrysler
			</option>
			<option value="daewoo">
			Daewoo
			</option>
			<option value="daihatsu">
			Daihatsu
			</option>
			<option value="dodge">
			Dodge
			</option>
			<option value="eagle">
			Eagle
			</option>
			<option value="ferrari">
			Ferrari
			</option>
			<option value="fiat">
			FIAT
			</option>
			<option value="fisker">
			Fisker
			</option>
			<option value="ford">
			Ford
			</option>
			<option value="genesis">
			Genesis
			</option>
			<option value="geo">
			Geo
			</option>
			<option value="gmc">
			GMC
			</option>
			<option value="honda">
			Honda
			</option>
			<option value="hummer">
			Hummer
			</option>
			<option value="hyundai">
			Hyundai
			</option>
			<option value="ineos">
			INEOS
			</option>
			<option value="infiniti">
			INFINITI
			</option>
			<option value="international">
			International
			</option>
			<option value="isuzu">
			Isuzu
			</option>
			<option value="jaguar">
			Jaguar
			</option>
			<option value="jeep">
			Jeep
			</option>
			<option value="karma">
			Karma
			</option>
			<option value="kia">
			Kia
			</option>
			<option value="koenigsegg">
			Koenigsegg
			</option>
			<option value="lamborghini">
			Lamborghini
			</option>
			<option value="land_rover">
			Land Rover
			</option>
			<option value="lexus">
			Lexus
			</option>
			<option value="lincoln">
			Lincoln
			</option>
			<option value="lotus">
			Lotus
			</option>
			<option value="lucid">
			Lucid
			</option>
			<option value="maserati">
			Maserati
			</option>
			<option value="maybach">
			Maybach
			</option>
			<option value="mazda">
			Mazda
			</option>
			<option value="mclaren">
			McLaren
			</option>
			<option value="mercedes_benz">
			Mercedes-Benz
			</option>
			<option value="mercury">
			Mercury
			</option>
			<option value="mini">
			MINI
			</option>
			<option value="mitsubishi">
			Mitsubishi
			</option>
			<option value="morgan">
			Morgan
			</option>
			<option value="nissan">
			Nissan
			</option>
			<option value="oldsmobile">
			Oldsmobile
			</option>
			<option value="pagani">
			Pagani
			</option>
			<option value="panoz">
			Panoz
			</option>
			<option value="plymouth">
			Plymouth
			</option>
			<option value="polestar">
			Polestar
			</option>
			<option value="pontiac">
			Pontiac
			</option>
			<option value="porsche">
			Porsche
			</option>
			<option value="qvale">
			Qvale
			</option>
			<option value="ram">
			RAM
			</option>
			<option value="rivian">
			Rivian
			</option>
			<option value="rolls_royce">
			Rolls-Royce
			</option>
			<option value="saab">
			Saab
			</option>
			<option value="saleen">
			Saleen
			</option>
			<option value="saturn">
			Saturn
			</option>
			<option value="scion">
			Scion
			</option>
			<option value="smart">
			smart
			</option>
			<option value="spyker">
			Spyker
			</option>
			<option value="subaru">
			Subaru
			</option>
			<option value="suzuki">
			Suzuki
			</option>
			<option value="tesla">
			Tesla
			</option>
			<option value="toyota">
			Toyota
			</option>
			<option value="volkswagen">
			Volkswagen
			</option>
			<option value="volvo">
			Volvo
			</option>
			</select>
			</div>
	</main>
</body>
</html>