<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css">
	<link rel="stylesheet" href="/static/css/typography.css">
	<link rel="stylesheet" href="/static/css/comparison/main.css">
	<link rel="stylesheet" href="/static/css/login/login.css">
    <title>Comparison</title>
</head>
<body>

	<div class="nav-container">
		<nav class="navbar">
			<a href="/" class="logo-a"><img src="/static/assets/logo.svg" alt="Logo" class="logo"></a>
			<ul class="navlinks">
				<li><a href="/about">About us</a></li>
				<li><a href="/contacts">Contacts</a></li>
				<li><a href="#">Comparison</a></li>
				<li><a href="/login">Log in</a></li>
			</ul>
		</nav>
	</div>
	<main class="main">
		<div class="first_car_div">
			<h1>First car</h1>
			<div class="custom_select">
				<select id="make_select_1" name="make" class="select_parent">
					<option value="">
						Choose a make
					</option>
				</select>

				<select id="type_select_1" name="type" class="select_child" style="display: none;">
					<option value="">
						Choose a type
					</option>
				</select>

				<select id="year_select_1" name="year" class="select_child2" style="display: none;">
					<option value="">
						Choose a year
					</option>
				</select>

				<select id="model_select_1" name="model" class="select_child3" style="display: none;">
					<option value="">
						Choose a model
					</option>
				</select>

			</div>
		</div>
		<div class="second_car_div">
			<h1>Second car</h1>
			<div class="custom_select">
				<select id="make_select_2" name="make" class="select_parent">
					<option value="">
						Choose a make
					</option>
				</select>

				<select id="type_select_2" name="type" class="select_child" style="display: none;">
					<option value="">
						Choose a type
					</option>
				</select>

				<select id="year_select_2" name="year" class="select_child2" style="display: none;">
					<option value="">
						Choose a year
					</option>
				</select>

				<select id="model_select_2" name="model" class="select_child3" style="display: none;">
					<option value="">
						Choose a model
					</option>
				</select>

			</div>
		</div>
		<div id="loading-text" style="display: none;">Loading...</div>
	</main>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/static/js/comparison.js"></script>
</body>
</html>
