<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/navbar.css">
	<link rel="stylesheet" href="/static/css/index/main.css">
	<link rel="stylesheet" href="/static/css/typography.css">
	<link rel="stylesheet" href="/static/css/login/login.css">
	<title>Cars</title>
</head>
<body>
	<div class="nav-container">
		<nav class="navbar">
			<a href="/" class="logo-a"><img src="/static/assets/logo.svg" alt="Logo" class="logo"></a>
			<ul class="navlinks">
				<li><a href="/about">About us</a></li>
				<li><a href="/contacts">Contacts</a></li>
				<li><a href="/comparison">Comparison</a></li>
				<li><a href="/catalog">Catalog</a></li>
				<li><a href="/login">Log in</a></li>
			</ul>
			<button><a href="/" class="logo-a" id="svg_button"><img src="/static/assets/icon.svg" alt="Logo" class="logo"></a></button>
		</nav>
	</div>
	
	<main class="main">
		<div class="maindiv">
			<img src="/static/assets/Richard Petty.jpg" alt="Richard Petty Car" class="mainimg">
		</div>
	</main>
</body>
</html>
