:root{
	--white: #ffffff;
}

*{
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

html, body{
	height: 100vh;
	background-color: rgb(20, 20, 20);
}

.first_car_div,
.second_car_div{
	width: 100%;
	color: var(--white);
}
.first_car_div > h1 {
	text-align: center;
}

.second_car_div > h1 {
	text-align: center;
}

.main{
	display: flex;
	width: 100vw;
}

.costom_select select {
	display: flex;
	color: var(--white);
	background-color: #111111;
	border: 2px gray solid;
	border-radius: 15px;
	padding: 10px;
	width: 75%;
	height: 100px;
	font-size: 1.4rem;
}
