:root{
	--white: #ffffff;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100vh;
	background-color: rgb(20, 20, 20);
}


.input_container {
	color: var(--white);
}


.main{
	display: flex;
}
